/* Form.css */

.form-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(250, 249, 249, 0.1);
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  fieldset{
    padding: 20px;
  }
  legend {
    font-size: 1.5em;
    margin-bottom: 20px;
    background-color: #dad5d5;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
  }
  
  input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .button {
    text-align: center;
  }
  
  .link {
    display: inline-block;
    padding: 12px 24px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .link:hover {
    background-color: #0056b3;
  }
  